h1
{
	font-family: sans-serif;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
}

h1:after
{
	content: '';
	background: black;
	display: block;
	height: 3px;
	width: 200px;
	margin: 15px auto;
}

.price-table
{
	padding: 60px 0;
}

.single-price
{
	margin: 10px auto;
	display: inline;
	float: left;
	width: 100%;
	background-color: #efefef;
	transition: 0.5s;
}

.single-price:hover
{
	box-shadow: 0 2px 20px #ccc;
}

.price-head
{
	background-color: #2196f3;
	display: inline;
	float: left;
	padding: 10px 5px;
	text-align: center;
	width: 100%;
}

.price-head h2
{
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 0;
	padding: 5px;
	text-transform: uppercase;
}

.price-head p
{
	color: #ccc;
	font-size: 25px;
	font-weight: bold;
	line-height: 30px;
}

span
{
	font-size: 15px;
}

.price-content
{
	display: inline;
	float: left;
	width: 100%;
	padding: 0 15px;
}

ul li
{
	border-bottom: 1px solid #fff;
	padding: 15px 10px;
	list-style: none;
}

ul li:last-child
{
	border: none;
}

.fas
{
	/*padding: 0 10px;*/
	color: red;
	/*font-size: 20px;*/
}

.fa-check-circle
{
	color: green;
}

.price-bottom
{
	display: inline;
	float: left;
	padding: 15px 15px 30px;
	text-align: center;
	width: 100%;
}

.buy-btn
{
	background-color: #2196f3;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	font-size: 18px;
	padding: 15px 50px;
	transition: all 0.5s;
}

.buy-btn:hover
{
	border-color: 1px solid #fff;
	background-color: #3f51b5;
}

a
{
	text-decoration: none !important;
	color: #fff !important;
}